<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.vrv.mapper.TransportWayMapper">
 <resultMap id="BaseResultMap" type="com.vrv.entity.TransportWay" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="transport_type" property="transportType" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
  
   <sql id="Base_Column_List" >
    id, transport_type,remark,create_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from transport_way
    where id = #{id,jdbcType=INTEGER}
  </select>


 <select id="findTransportWayById" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from transport_way
    where id = #{id,jdbcType=INTEGER}
  </select>
  
  
<select id="getList" resultMap="BaseResultMap" parameterType="java.util.Map">
    select * from  transport_way
         <where>
			<if test="transportType != null and transportType != ''">
				and transport_type like CONCAT('%','${transportType}','%' )
			</if>
		</where> 
		limit #{offset},#{size}
</select>


<select id="getTotalCount" resultType="java.lang.Integer" parameterType="java.util.Map">
    SELECT count(*) FROM transport_way
         <where>
			<if test="transportType != null and transportType != ''">
				and transport_type like CONCAT('%','${transportType}','%' )
			</if>
		</where> 
</select>




 <insert id="insertSelective" parameterType="com.vrv.entity.TransportWay" useGeneratedKeys="true" keyProperty="id">
    insert into transport_way
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="transportType != null" >
        transport_type,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="createTime != null" >
        create_time
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="transportType != null" >
        #{transportType,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP}
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.vrv.entity.TransportWay" >
    update transport_way
    <set >
      <if test="transportType != null" >
        transport_type = #{transportType,jdbcType=VARCHAR},
      </if>
       <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>


<delete id="deleteTransportById" parameterType="java.lang.Integer" >
   delete from  transport_way where id=#{id}
</delete>
</mapper>