<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.vrv.mapper.UserAreaTeamMapper" >
  <resultMap id="BaseResultMap" type="com.vrv.entity.UserAreaRelation" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="area_id" property="areaId" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, user_id, area_id
  </sql>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from area_user_relation where area_id = #{areaId,jdbcType=INTEGER}
  </delete>
  
  <insert id="insertSelective" parameterType="com.vrv.entity.UserAreaRelation" useGeneratedKeys="true" keyProperty="id">
    insert into area_user_relation
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        user_id,
      </if>
      <if test="areaId != null" >
        area_id
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="areaId != null" >
        #{areaId,jdbcType=INTEGER}
      </if>
    </trim>
  </insert>
  
</mapper>